@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,400&display=swap');


/* ---- MAIN STYLING ----- */

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  outline: none;
  text-transform: uppercase;
}

body{
  background-color: teal;
  width: 100vw;
  height: 100vh;
}

/* ---- BACKGROUND IMAGE ----- */


.hero-image {
  height: 100vh;
  width: 60vw;
  z-index: -1;
  position: absolute;
}

.hero-image::after {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0,teal 100%);
  width: 300px;
  height: 100%;
  margin-left: -300px;
  position: absolute;
  content: '';
}

#background{
  width: 60vw;
  max-height: 100vh;
  object-fit: cover;
}

/* ----- MAIN ---- */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* ----- MODAL BOX ----- */


.modal{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

.modal-content{
  background-color: white;
  padding: 20px;
  height: 180px;
  width: 550px;
  border-radius: 20px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8);
  animation-name: modalopen;
  animation-duration: 1s;
}

.closeBtn{
  color: #ccc;
  font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus{
  cursor: pointer;
  color: black;
  text-decoration: none;
}

@keyframes modalopen {
  from{opacity: 0;}
  to{opacity: 1;}
}

/* ----- BOT IMAGE ----- */

.container-bubble-bot, .modal-content {
  display: flex;
  align-items: center;
}

.container-bubble-bot img, .modal-content img {
  width: 150px;
  margin-right: 1rem;
}

/* ---- SPEECH BUBBLE ---- */


p.bubble{
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 6px #B2B2B2;
  width:  300px;
  text-align: center;
  line-height: 1.4em;
  padding: 20px;
  text-transform: none;
  position: relative;
}

p.bubble::after {
  background-color: #fff;
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
  content: "\00a0";
  display: block;
  height: 20px;
  left: -10px;
  position: absolute;
  top: 50px;
  transform: rotate( 45deg );
  width:  20px;
}


/* ---- MAIN STYLING FOR FORM INPUT ---- */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 460px;
  width: 600px;
  border-radius: 20px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8);
  padding: 1rem;
}

/* ---- PIZZA MENU ----- */

.menu{
  display: flex;
  margin-top: 1rem;
}

.radio {
  position: absolute;
  visibility: hidden;
  display: none;
}

.radio ~ img{
  opacity: 0.55;
}

.radio:checked ~ img{
  opacity: 1;
}

.radio:hover ~ img{
  opacity: 1;
}

.radio ~ p{
  opacity: 0.55;
}

.radio:checked ~ p{
  opacity: 1;
}

.radio:hover ~ p{
  opacity: 1;
}

.menu-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  padding: 1rem;
  box-shadow: 0px 0px 6px #B2B2B2;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  height: 100px;
}

/* ---- AMOUNT BUTTON ----  */

.amount-field{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 200;
  margin-top: 0.25rem;
}
.amount-field p{
  font-size: 16px;
}

.amount-field input{
  transition: all 0.30s ease-in-out;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  width: 160px;
}

.amount-field input:focus{
  background-color: #FEB220;
}

/* ---- SUBMIT BUTTON ----- */

.submit{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  box-shadow: 0px 0px 6px #B2B2B2;
  background-color: #feb220;
  border-radius: 20px;
  cursor: pointer;
  width: 160px;
  padding-top: 0.25rem;
  margin-top: 0.25rem;
}

.submit-button {
  position: absolute;
  visibility: hidden;
  display: none;
}

.submit-button ~ img{
  opacity: 0.55;
}

.submit-button:hover ~ img{
  opacity: 1;
}

.submit-button ~ p{
  opacity: 0.55;
}

.submit:hover{
  background-color: teal;
}

.submit-button:hover ~ p{
  opacity: 1;
}

